# Redirect www urls to non-www
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.scottweisman\.com [NC]
RewriteRule (.*) http://scottweisman.com/$1 [R=301,L]

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

# External redirect any /post-slug.html to /post-slug
RewriteCond %{THE_REQUEST} ^[A-Z]+\s([^\s]+)\.html\s
RewriteRule .* %1 [R=301,L]
