<!DOCTYPE html>
<head>  
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="description" content="Scott Weisman" />
   <meta name="author" content="Scott Weisman" />
   <link rel="canonical" href="http://scottweisman.com/" />
   
   <link href="http://feeds.feedburner.com/scottweisman" rel="alternate" title="Scott Weisman" type="application/atom+xml" />

    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection" />
            
</head>

<body>
<div class="container">
  
  <header>
    <span class="title">
      <a href="/">Scott Weisman</a>
    </span>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
  
  <section>
  
  {{ content }}
  
  </section>
  
  <footer>
    <div class="contact">
      <p>
        Scott Weisman<br />
      <a href="http://twitter.com/scottweisman/">twitter</a><br />
      <a href="mailto:scott@scottweisman.com">scott@scottweisman.com</a>
      </p>
    </div>
  </footer>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-12419736-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
